#intro{
	height: 30px;
	line-height: 30px;
	font-weight: 900;
	background: #b3c7ec;
	color: #ffffff;
	text-align: center;
	margin-top: 20px; 
	margin-bottom: 20px;
}
.member img{
	padding: 0;
}
.content{
	padding-right: 0;
}
.content h4,h5{
	color: #45444e;
}
.content p{
	text-indent: 25px;
	width: 98%;
	font-size: 0.93rem;
	color: #7d7c89;
}

.item{
	margin-bottom: 30px;
	padding: 0;
}
.img{
	height: 410px;
	padding: 0;
	position: relative;
}
.img img {
	width: 100%;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
}
.team-photo{
	padding: 0;
	margin-top: 160px;
}

@media all and (max-width: 768px) {

	.team-photo{
		padding: 0;
		margin-top: 50px;
	}
	
}



